#
# ZSH plugin management with zi
#

# Base plugins that need to be loaded first
	# chriskempson/base16-shell \
zinit for \
	nocompile tinted-theming/tinted-fzf

zinit wait lucid for \
	Aloxaf/fzf-tab \
	zsh-users/zsh-syntax-highlighting \
	zsh-users/zsh-completions

# Architecture-specific tools
ARCH=$(uname -m)
if [[ "$ARCH" == "x86_64" ]]; then
	zinit wait lucid as"program" from"gh-r" for \
		go-task/task \
		pick"bin/cb" Slackadays/Clipboard
fi

{{- $osID := "" }}
{{- if hasKey .chezmoi "osRelease" }}
{{- if hasKey .chezmoi.osRelease "id" }}
{{- $osID = .chezmoi.osRelease.id | lower }}
{{- end }}
{{- end }}
{{- if ne $osID "arch" }}
# Non-Arch distros: Install CLI tools via zinit from GitHub releases
# (On Arch, these are installed via pacman/AUR in the bootstrap script)
zinit wait lucid as"program" from"gh-r" for \
	mv"bat*/bat -> bat" pick"bat" @sharkdp/bat \
	pick"eza" eza-community/eza \
	mv"dust*/dust -> dust" pick"dust" bootandy/dust \
	pick"duf" muesli/duf \
	mv"fd*/fd -> fd" pick"fd" @sharkdp/fd \
	pick"navi" denisidoro/navi
{{- end }}

# needs to be loaded last
zinit for \
	atinit"ZINIT[COMPINIT_OPTS]=-C; zicompinit; zicdreplay" \
	blockf \
	zsh-users/zsh-autosuggestions

# Additional tools available in pacman/aur (optional, commented out):
# bpick"*linux_amd64*" junegunn/fzf \
# pick"btop/bin/btop" aristocratos/btop \
# jesseduffield/lazygit \
# pick"xh-*/xh" ducaale/xh \
# mv"ripgrep* -> rg" pick"rg/rg" BurntSushi/ripgrep \
# mv"choose* -> choose" pick"choose" theryangeary/choose \
# mv"bin/dog -> dog" pick"dog" ogham/dog \
# bensadeh/tailspin \
# mv"delta* -> delta" pick"delta/delta" dandavison/delta \
# zellij-org/zellij \
# pick"tldr" tldr-pages/tlrc \
