# ~/.config/chezmoi/chezmoi.toml
# This is the configuration file for chezmoi itself.

[data]
    name = "Kevin Zehnder"
    github_user = "kevinzehnder"

    # System information (auto-detected)
    os = "{{ .chezmoi.os }}"
    osid = "{{ .chezmoi.osRelease.id }}"
    arch = "{{ .chezmoi.arch }}"
    hostname = "{{ .chezmoi.hostname }}"

# --- Examples for future use ---

# Example of how to configure the editor used by `chezmoi edit`
# [edit]
#     command = "nvim"

# Example of how to configure a secret manager (e.g., Bitwarden)
# For more info, see: https://www.chezmoi.io/user-guide/manage-secrets/
# [secret]
#     command = "bw"
