layout {

    focus-ring {
        active-color   "#c2b8a3"
        inactive-color "#fdf6e3"
        urgent-color   "#dc322f"
    }

    border {
        active-color   "#c2b8a3"
        inactive-color "#fdf6e3"
        urgent-color   "#dc322f"
    }

    shadow {
        color "#e6decb70"
    }

    tab-indicator {
        active-color   "#c2b8a3"
        inactive-color "#c1d9ea"
        urgent-color   "#dc322f"
    }

    insert-hint {
        color "#c2b8a380"
    }
}

recent-windows {
    highlight {
        active-color "#c2b8a3"
        urgent-color "#dc322f"
    }
}
